*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
build
esm
amd
lib
lib2
node_modules
_site
sea-modules
.jscoverage/
tmp/*
Desktop.ini
Thumb.db
.cache/*
dist/
npm-debug.log
spm_modules/
tools/dict/error.log
coverage/
package-lock.json
yarn.lock
.umi/
.nyc_output
.pnpm-debug.log
.umi-production
