@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fontstatic.useso.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fontstatic.useso.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.spmjs {
  background-color: #fff;
  text-rendering: optimizelegibility;
  font-family:"Open Sans", "Lucida Grande", 'Hiragino Sans GB', Georgia, sans-serif;
}
.spmjs a {
  color: #2EA3D0;
  text-decoration: none;
}
.spmjs pre, .spmjs code, .spmjs tt {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.spmjs .body-wrapper {
  zoom: 1;
}
.spmjs .body-wrapper:after {
  display: block;
  clear: both;
  content:" ";
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.spmjs .sidebar-wrapper {
  float: left;
  position: fixed;
  color: #787878;
  font-size: 14px;
  width: 20%;
  padding: 40px 3% 20px;
  min-height: 100%;
  z-index: 1;
  background: #F9F9F8;
  border-right: 1px solid #eee;
}
.spmjs .sidebar-wrapper h1 {
  margin: 0;
  font-family:"Open Sans", "Lucida Grande", 'Hiragino Sans GB', Georgia, sans-serif;
}
.spmjs .sidebar-wrapper .sidebar-version {
  font-size: 14px;
}
.spmjs .sidebar-wrapper .sidebar-description {
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 4px 6px;
  color: #888;
  margin-bottom: 18px;
}
.spmjs .sidebar-wrapper .sidebar-source {
  -moz-user-select: none;
  background-color: #4092CC;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  border: medium none;
  border-radius: 0.25em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  min-height: 1em;
  outline: 0 none;
  padding: 0.8em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.25s ease 0s, background-color 0.25s ease 0s, color 0.25s ease 0s, background 0.25s ease 0s, box-shadow 0.25s ease 0s;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.spmjs .sidebar-wrapper .sidebar-source:hover {
  background-color: #399add;
  color: #fff;
}
.spmjs .sidebar-wrapper .sidebar-source:active {
  background-color: #3283bc;
}
.spmjs .sidebar-navigation {
  list-style-type: none;
  font-size: 14px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  margin: 20px 0 0 0;
  padding: 10px 0;
  zoom: 1;
  text-transform: uppercase;
}
.spmjs .sidebar-navigation:after {
  display: block;
  clear: both;
  content:" ";
  font-size: 0;
}
.spmjs .sidebar-navigation li {
  float: left;
  margin-right: 7px;
}
.spmjs .sidebar-navigation li:first-of-type {
  margin-left: 0;
}
.spmjs .sidebar-navigation a:hover, .spmjs .sidenav a:hover {
  border-bottom: 1px solid #769FD0;
}
.spmjs .sidebar-wrapper a {
  color: #6c97c2;
  text-decoration: none;
}
.spmjs .sidebar-wrapper a:hover {
  color: #48b;
}
.spmjs .sidebar-version a:hover {
  text-decoration: underline;
}
.spmjs .sidebar-navigation .active a {
  color: #48d;
  font-weight: bold;
}
.spmjs .content-wrapper {
  float: right;
  width: 68%;
  padding: 20px 3% 50px;
  font-size: 16px;
  background-color: #fff;
  position: relative;
  line-height: 1.5;
}
.spmjs .content-wrapper .entry-title {
  margin-bottom: 12px;
  font-family:"Open Sans", "Lucida Grande", 'Hiragino Sans GB', Georgia, sans-serif;
}
.spmjs .content-wrapper .meta {
  color: #BCBCBD;
  font-size: 12px;
  margin: 12px 0;
}
.spmjs .content-wrapper h2 {
  margin-top: 40px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  font-family:"Open Sans", "Lucida Grande", 'Hiragino Sans GB', Georgia, sans-serif;
}
.spmjs hr {
  display: block;
  border: 0;
  height: 4px;
  background-color: #eee;
  margin-top: 20px;
  border-radius: 10px;
}
.spmjs .content-wrapper pre {
  margin: 6px 0;
  border: 1px solid #eee;
  padding: 6px 10px;
  overflow: auto;
  border-radius: 2px;
  background-color: #f8f8f9;
  line-height: 19px;
  font-size: 13px;
  white-space: pre;
}
.spmjs .content-wrapper code {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
  background-color: #fee9cc;
  padding: 1px 3px;
  border-radius: 3px;
  margin-left: 3px;
  margin-right: 3px;
}
.spmjs .content-wrapper pre code, .spmjs .content-wrapper .highlight code {
  color: #5D6A6A;
  background-color: transparent;
  margin: auto;
  padding: 0;
}
.spmjs .content-wrapper blockquote {
  border-left: 0.4em solid #ddd;
  color: #777;
  margin: 15px 0;
  padding: 0 15px;
}
.spmjs .content-wrapper blockquote p {
  color: #777;
}
.spmjs .footer-wrapper {
  font-size: 10px;
  position: fixed;
  bottom: 15px;
  color: #ccc;
  font-family: Consolas;
}
.spmjs .footer-wrapper a {
  text-decoration: none;
  font-size: 11px;
  color: #aaa;
}

/* table */
.spmjs .entry-content > table {
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: left;
}

.spmjs .entry-content > table th {
  background: #fafafa;
}

.spmjs .entry-content > table th,
.spmjs .entry-content > table td {
  padding: 6px 10px;
  border: 1px solid #eaeaea;
}

/* other */
.spmjs .content-wrapper .doc-api {
  color: #784942;
}
.spmjs .content-wrapper .doc-api em, #content .doc-api code {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 14px;
  margin-left: 4px;
  color: #999;
  background: transparent;
  font-style: italic;
}
.spmjs .content-wrapper .nico-iframe {
  position: relative;
}
.spmjs .content-wrapper .nico-iframe iframe {
  width: 100%;
}
.spmjs .content-wrapper .nico-iframe .new-window {
  position: absolute;
  top: 20px;
  right: -28px;
  font-size: 12px;
  font-weight: bold;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.spmjs .content-wrapper .highlight {
  background-color: transparent;
  position: relative;
  margin: 12px 0;
}
.spmjs .entry-content h1 a.anchor, .spmjs .entry-content h2 a.anchor, .spmjs .entry-content h3 a.anchor, .spmjs .entry-content h4 a.anchor, .spmjs .entry-content h5 a.anchor, .spmjs .entry-content h6 a.anchor {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  visibility: hidden;
}
.spmjs .entry-content h1:hover a.anchor, .spmjs .entry-content h2:hover a.anchor, .spmjs .entry-content h3:hover a.anchor, .spmjs .entry-content h4:hover a.anchor, .spmjs .entry-content h5:hover a.anchor, .spmjs .entry-content h6:hover a.anchor {
  visibility: visible;
}
.spmjs .sidenav {
  padding: 10px 0 10px 20px;
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}
.spmjs .spm-doc-textarea {
  display: none;
}
/* history history-tag */
.spmjs .history-tag {
  background: url("https://t.alipayobjects.com/images/T18l4aXkhIXXXXXXXX.png") no-repeat scroll 0 50% #fff;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
  color: #383838;
  display: inline-block;
  font-family:"Open Sans", sans-serif;
  font-size: 11px;
  font-style: normal;
  line-height: 20px;
  min-width: 85px;
  padding: 0 15px 0 20px;
  text-align: right;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
  width: 85px;
  position: absolute;
  top: 15px;
  left: 8px;
}
.spmjs .history-tag-new {
  background-color: #FFEDCF;
}
.spmjs .history-tag-changed {
  background-color: #E9CFFF;
  background-position: -150px 50%;
}
.spmjs .history-tag-fixed {
  background-color: #F0FFE1;
  background-position: -300px 50%;
}
.spmjs .history-tag-html5 {
  background-color: #F8DFD8;
  background-position: -450px 50%;
}
.spmjs .history-tag-improved {
  background-color: #DCF6FF;
  background-position: -600px 50%;
}
.spmjs .history-tag-unresolved {
  background-color: #FFC8C8;
  background-position: -750px 50%;
}
.spmjs .history-tag-developer {
  background-color: #E7E7E7;
  background-position: -900px 50%;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.qrcode-wrapper {
  position: relative;
  margin-top: 10px;
  display: inline-block;
}

.qrcode-wrapper .icon {
  font-size:30px;
}

.qrcode-wrapper .icon-qrcode {
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.qrcode-wrapper .qrcode {
  display: none;
  position:absolute;
  left:0;
  top:0;
}
.qrcode-wrapper .icon:hover .qrcode {
  display: block;
}
.qrcode-wrapper .qrcode canvas {
  cursor: none;
}

/* code live editor */
.editor-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  font-family: Consolas;
  padding: 0 3px;
  color: #000;
  border-radius: 2px;
  cursor: pointer;
  z-index: 100;
  opacity: 0.25;
  transition: opacity 0.2s;
}

.editor-toggle:hover {
  opacity: 0.7;
  background: #66AFE9;
  color: #fff;
}

.CodeMirror.saved .CodeMirror-lines {
  -webkit-animation: saved 0.9s ease-out 1;
  animation: saved 0.9s ease-out 1;
}

@-webkit-keyframes saved {
  0% {
    background: #fff;
  }
  20% {
    background: #D6FFC2;
  }
  100% {
    background: #fff;
  }
}

@keyframes saved {
  0% {
    background: #fff;
  }
  20% {
    background: #D6FFC2;
  }
  100% {
    background: #fff;
  }
}

/* responsive */
@media (max-width: 980px) {
  .spmjs .body-wrapper,
  .spmjs .sidebar-wrapper,
  .spmjs .content-wrapper {
    float: none;
    position: static;
    width: auto;
  }
  .spmjs .qrcode-wrapper {
    position: absolute;
    right: 40px;
    top: 14px;
  }
  .spmjs .qrcode-wrapper .qrcode {
    left: -98px;
  }
  .spmjs .footer-wrapper {
    position: absolute;
    bottom: 20px;
    left: 3%;
  }
  body.spmjs {
    position: relative;
  }
}
